@import '../../../style/settings.scss';

.containerLatest {
    grid-column: 1 / -1;
    @include grille;
    margin-bottom: 150px;
    h1 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
        grid-column: span 12;
    }
    &__menu {
        grid-column: 1 / 5;        
        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            li {
                a{
                    margin-bottom: 8px;
                    opacity:.5;
                    cursor: pointer;
                }
            }
        }
    }
    &__blog{
        grid-column: span 8;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 475px){
    .containerLatest{
        h1{
            grid-column: span 4;
        }
        &__menu{
            grid-column: 1/-1;
            margin-bottom: 32px;
            ul{
                flex-direction: row;
                justify-content: space-between;
            }
        }
        &__blog{
            overflow-y: scroll;
            gap: 60px;
        }
    }
}
